<div class="info-window">
  <h4><%= link_to van.name, van_path(van) %></h4>
  <p><%= van.location %></p>
  <img src="<%= asset_path('icecream_van_nobg.png') %>" alt="Ice Cream Van" class="info-window-image">

</div>
