<div class="info-window">
  <h4><%= link_to van.name, van_path(van) %></h4>
  <p><%= van.location %></p>
  <img src="<%= asset_path('icecream_van_nobg.png') %>" alt="Ice Cream Van" class="info-window-image">
  <p>More details about the van can <%= link_to "go here", van_path(van) %></p>
</div>
