
<%# (<h1>This is map for Vans</h1>

<ul>
  <% @vans.each do |van| %>
    <%# <li><%= link_to van.name, van_path(van)</li> %>
  <%# <% end %>
<%# </ul>) %>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-location-value="<%= @location %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
