
<%# (<h1>This is map for Vans</h1>

<ul>
  <% @vans.each do |van| %>
    <%# <li><%= link_to van.name, van_path(van)</li> %>
  <%# <% end %>
<%# </ul>) %>
<div class="container-form">
  <div class="my-form">
    <h2>Choose your nearest Van</h2>
    <div class="container" style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-location-value="<%= @location %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
