// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$pink: #FEB0C5;

$white-color: #ffffff;
$primary-color: #66F9ED;
$dark-color: #333;
$highlight-color: #ff3c3c;
$white: #fff;

$gradient-start: #ff92b4;
$gradient-end: #ff6b6b;
$border-color: #ccc;
$rating-color: #ffcc00;
