body {
  background-color: $pink;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

.hero-section {
  text-align: center;
  justify-content: center;
  color: white;


  h1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 70px;
    font-weight: 400;
    text-align: center;
    font-family: "Ultra", serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.275);
  }

  p {
    font-family: "Nunito", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 40px;
    margin-bottom: 50px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.275);
  }

  .form {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 5px 15px;
  }

  .search-bar {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    background-color: $white;
    width: 75%;
    position: relative;
    border-radius: 5px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid $white;
    margin-left: 5px;
    margin-right: 10px;
    text-align: left;
  }

  .search-button {
    background: $primary-color;
    padding: 0.5rem 1rem;
    color: $white;
    border: none;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    width: 200px;
    margin-left: auto;
    margin-top: 8px;
    margin-bottom: 8px;


    &:hover {
      background: $pink;
    }
  }

  a {
    background: $primary-color;
    padding: 0.5rem 1rem;
    color: $white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    width: 200px;
    margin-left: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 8px;

    &:hover {
      background: $pink;
    }
  }

  .product-list {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    background-color: transparent;
    width: fit-content;
    margin: 0 auto;

    .product {
      background: transparent;
      padding: 1rem;
      border-radius: 10px;

      img {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        object-fit: cover;
        display: block;
        margin: 0 auto;
      }

      .rating {
        display: flex;
        justify-content: center;
        gap: 0.2rem;

        span {
          font-size: 1.2rem;
          color: #ffcc00;
        }
          color: $rating-color;
      }
    }
  }
}


@media (min-width: 200px) and (max-width: 991.98px) {
  .hero-section {

    h1 {
      font-size: 50px;
    }

    p {
      font-size: 30px;
    }
  }
}

.landing-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  text-align: center;
  flex-direction: column;
  margin-top: 70px;
}

@media (min-width: 200px) and (max-width: 991.98px) {
  .landing-page {
    margin-top: 100px;
  }
}
