.card-van-requests {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 1000px;
}

h3 {
  margin-bottom: 20px;
}

.card-header-van-requests, .card-details-van-requests {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
  align-items: center;
  text-align: center;
}

.card-header-van-requests {
  background-color: #f8f8f8;
  color: #333;
  padding: 1rem;
  border-bottom: 1px solid #e0e0e0;
  font-weight: bold;
}

.card-details-van-requests {
  padding: 1rem;
  border-bottom: 1px solid #e0e0e0;
  align-items: center;
  text-align: center;
}



.actions-van-requests {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: red;
  flex-wrap: wrap;
}

.btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-align: center;
  width: 100%;
  max-width: 150px;
}

.btn-confirm {
  background-color: #4CAF50;
  color: white;
}

.btn-cancel {
  background-color: #f44336;
  color: white;
}

.fa-cross {
  color: #f44336;
  font-size: 1.25em;
}

.fa-checkmark .fa-check {
  color: #63E6BE;
  font-size: 1.25em;

}
.check-action-van-requests {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px ;
}

@media (max-width: 768px) {
  .card-header-van-requests, .card-details-van-requests {
    grid-template-columns: repeat(7, 1fr);
  }
  .btn {
    max-width: 120px;
  }

}

@media (max-width: 480px) {

  .card-header-van-requests, .card-details-van-requests {
    grid-template-rows: repeat(7, 1fr);
    margin: 0 auto;
  }

  .check-action-van-requests {
    margin-left: 0;
    justify-content: center;
  }

  .btn {
    width: 100%;
    max-width: none;
  }
}
