/* _order.scss */
.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 1rem;
}

h3 {
  margin-bottom: 20px;
}

.card-header, .card-details {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.5rem;
  align-items: center;
}

.card-header {
  display: flex;
  background-color: #f8f8f8;
  color: #333;
  padding: 1rem;
  border-bottom: 1px solid #e0e0e0;
  font-weight: bold;
}

.card-details {
  padding: 1rem;
  border-bottom: 1px solid #e0e0e0;
  align-items: center;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  color: red;
}

.btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.btn-confirm {
  background-color: #4CAF50;
  color: white;
}

.btn-cancel {
  background-color: #f44336;
  color: white;
}

.fa-cross {
  color: #f44336;
  font-size: 1.25em;
}

.fa-checkmark .fa-check {
  color: #63E6BE;
  font-size: 1.25em;

}
.check-action {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px ;
}
