<h1><%= current_user.first_name %>'s favourite vans</h1>

<% if @favourites.any? %>
  <ul>
    <% @favourites.each do |favourite| %>
      <% if favourite.van %>
        <li>
          <%= link_to favourite.van.name, van_path(favourite.van) %>
          <%= button_to "Remove from favourites", favourite_path(favourite), method: :delete, data: {turbo: false} %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>No vans in your favourites list.</p>
<% end %>
