<div class="btn-back">
  <%= link_to "< Back to map", vans_path %>
</div>

<div class="container-form">
  <div class="my-form">
    <h2><%= current_user.first_name %>'s favourite Vans</h2>
    <div class="card">
      <div class="card">
        <p>Check the Van's Store</p>
      </div>
      <% if @favourites.any? %>
        <% @favourites.each do |favourite| %>
          <div class="card-details card-favourite">
            <%= link_to favourite.van.name, van_path(favourite.van), class: "btn-main" %>
            <%= button_to "Remove", favourite_path(favourite), method: :delete, data: {turbo: false}, class: "btn-delete" %>
          </div>
        <% end %>
      <% else %>
        <p>No vans in your favourites list.</p>
      <% end %>
    </div>
  </div>
</div>
