<div class="my-footer">
  <ul>
    <li><i class="fa-brands fa-instagram"></i></li>
    <li><i class="fa-brands fa-facebook"></i></li>
    <li><i class="fa-brands fa-x-twitter"></i></li>
    <li><i class="fa-brands fa-pinterest"></i></li>
  </ul>
  <p>©Copyright all rights reserverd</p>
</div>
