<div class="my-footer">
  <ul>
    <li><%= link_to "https://www.instagram.com/gp_ice.online/?igsh=emJ0emdkeDlpYXI3&utm_source=qr#", target: "_blank", rel: "noopener noreferrer"  do%>
      <i class="fa-brands fa-instagram"></i> <% end %></li>
    <li><i class="fa-brands fa-facebook"></i></li>
    <li><i class="fa-brands fa-x-twitter"></i></li>
    <li><i class="fa-brands fa-pinterest"></i></li>
  </ul>
  <p>© Copyright all rights reserverd</p>
</div>
