<body id="bodyHome">

  <div class="landing-page">
    <div class="hero-section">

      <h1>Craving ice cream?</h1>
      <p>Find the nearest van, place your order, and pick it up hassle-free!</p>
      <div class="search">
        <div class="search-bar">
          <%= render "pages/form" %>
        </div>
      </div>


    </div>
  </div>
</div>

</body>
