<div class="landing-page">
  <div class="hero-section">

    <h1>Craving ice cream?</h1>
    <p>Find the nearest van, place your order, and pick it up hassle-free!</p>
    <div class="search">
      <div class="search-bar">
        <%= render "pages/form" %>
      </div>
    </div>
    <div>
</div>

    <div class="product-list">
      <div class="product">

        <img src="<%= asset_path('cone-icon.png') %>" alt="Cone">

        <div class="rating">
          <span>⭐</span>
          <span>⭐</span>
          <span>⭐</span>
          <span>⭐</span>
          <span>⭐</span>
        </div>
      </div>

      <div class="product">

        <img src="<%= asset_path('cone-icon.png') %>" alt="Ice Cream Cone">

        <div class="rating">
          <span>⭐</span>
          <span>⭐</span>
          <span>⭐</span>
          <span>⭐</span>
          <span>⭐</span>
        </div>
      </div>

      <div class="product">

        <img src="<%= asset_path('cone-icon.png') %>" alt="Ice Cream Cone">

        <div class="rating">
          <span>⭐</span>
          <span>⭐</span>
          <span>⭐</span>
          <span>⭐</span>
          <span>⭐</span>
        </div>
      </div>

    </div>
  </div>
</div>
