<h1>My Cart</h1>

<% if @order && @order.order_products.any? %>
  <ul>
    <% @order.order_products.each do |order_product| %>
      <li>
        <strong><%= order_product.product.name %></strong> -
        Quantity: <%= order_product.quantity_ordered %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Your cart is empty.</p>
<% end %>

<%= link_to "Proceed to Checkout", order_checkout_path(@order), class: "btn btn-success" if @order %>
