.btn-main {
  padding: 10px 15px;
  border: 2px solid black;
  border-radius: 20px;
  text-decoration: none;
  color: black;
  font-family: "Nunito", serif;
  transition: 0.3s ease;
  margin-right: 5px;

  &:hover {
    background-color: $primary-color;
    padding: 10px 25px;
    border: 2px solid $primary-color;
    color: white;
  }
}

.btn-secondary {
  padding: 10px 15px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Nunito", serif;
  transition: 0.3s ease;
  margin-right: 5px;

  &:hover {
    background-color: $pink;
    padding: 10px 25px;
  }
}

.btn-delete {
  padding: 10px 15px;
  border: 2px solid rgba(255, 0, 0, 0);
  border-radius: 20px;
  text-decoration: none;
  color: rgb(255, 0, 0);
  font-family: "Nunito", serif;
  transition: 0.3s ease;
  margin-right: 5px;
  margin-top: 10px;
  background-color: transparent;

  &:hover {
    background-color: red;
    padding: 10px 25px;
    color: white;
  }
}

.quantity-btn {
  padding: 10px 15px;
  border: 2px solid black;
  border-radius: 20px;
  text-decoration: none;
  color: black;
  font-family: "Nunito", serif;
  transition: 0.3s ease;
  margin-right: 5px;
  background-color: white;
  width: fill;

  &:hover {
    background-color: $pink;
    padding: 10px 25px;
  }
}

.btn-back {
  width: 75%;
  max-width: 1000px;
  margin: 10px auto;

  a {
    text-decoration: none;
    color: white;
    font-family: "Ultra", serif;
    transition: 0.3s ease;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.275);

    &:hover {
      color: $primary-color;
      font-size: 20px;
    }
  }
}

.btn-profile {
  padding: 10px 15px;
  border: 2px solid rgba(255, 0, 0, 0);
  border-radius: 20px;
  text-decoration: none;
  color: $pink;
  font-family: "Nunito", serif;
  transition: 0.3s ease;
  margin-right: 5px;
  margin-top: 10px;
  background-color: transparent;

  &:hover {
    background-color: $pink;
    padding: 10px 25px;
    color: white;
  }
}
