// .ultra-regular {
//   font-family: "Ultra", serif;
//   font-weight: 400;
//   font-style: normal;
// }


// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 1000

// .nunito-<uniquifier> {
//   font-family: "Nunito", serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
// }
