// .ultra-regular {
//   font-family: "Ultra", serif;
//   font-weight: 400;
//   font-style: normal;
// }


// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 1000

// .nunito-<uniquifier> {
//   font-family: "Nunito", serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
// }

h1, h2 {
  font-family: "Ultra", serif;
  font-weight: 100;
}

#review-title {
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.275);
}

.white-title {
  font-family: "Ultra", serif;
  color: rgb(255, 255, 255);
  font-weight: 100;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.275);
}

.pink-title {
  font-family: "Ultra", serif;
  font-weight: 100;
  color: #F98A90;
  letter-spacing: .1rem;
}

.white-text {
  font-family: "Nunito", serif;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.275);
}
