.my-footer {
  margin: 50px 0px;
  text-align: center;
  width: 100%;

  li {
    display: inline-block;
  }

  i {
    color: white;
    font-size: 40px;
    margin: 0px 15px;
    text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    transition: 0.3s ease;

    &:hover {
      color: $primary-color;
      font-size: 50px;
    }
  }

  p {
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
    margin-bottom: 0px;
    margin-top: 10px;
  }
}

@media (min-width: 200px) and (max-width: 991.98px) {
  .my-footer {
    i {
      font-size: 20px;
      margin: 0px 10px;

      &:hover {
        font-size: 25px;
      }
    }

    p {
      font-size: 15px;
    }
  }
}
