.my-form {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 50px auto;
}

.container-form {
  border-radius: 20px;
  background-color: white;
  width: 75%;
  max-width: 1800px;
  margin: 0px auto;
  padding: 15px;
}
