.my-form {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 50px auto;

  h2 {
    font-family: "Ultra", serif;
  }

  label, input {
    font-family: "Nunito", serif;
  }
}

.container-form {
  border-radius: 20px;
  background-color: white;
  width: 75%;
  max-width: 1800px;
  margin: 10px auto;
  padding: 15px;
}
