.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

#map-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
}

@media (min-width: 200px) and (max-width: 991.98px) {
  #map-title {
    font-size: 20px;
  }
}
