.my-container {
  margin: 10px auto;
  width: 75%;
}

.product-card {
  background-color: rgb(255, 255, 255);
  margin: 25px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  border-radius: 20px;
  max-width: 1000px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.274);

  img {
    width: 30%;
    height: 30%;
    object-fit: cover;
    border-radius: 0 20px 20px 0;
  }
}

.product-info {
  align-content: center;
  width: 70%;
  padding: 20px;

  h3 {
    font-family: "Ultra", serif;
    color: rgb(0, 0, 0);
    font-weight: 100;
  }

  p {
    font-family: "Nunito", sans-serif;
  }
}

ul {
  text-decoration: none;
  list-style: none;
  padding-left: 0px;
}


.van-show {
  display: flex;
  margin: 25px auto;
  width: 75%;
  align-items: center;
  justify-items: center;
  gap: 20px;
  max-width: 1000px;
}

.van-image {
  width: 200px;
  img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
}

.van-info {
  width: 1000px;
  display: flex;
  flex-direction: column;

  button {
    font-size: 30px;
  }

  h1 {
    font-family: "Ultra", serif;
    color: rgb(255, 255, 255);
    font-weight: 100;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.275);
  }

  p {
    font-family: "Nunito", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
}

.van-container {
  margin: 10px auto;
  width: 75%;
}


.product-line {
  border: none;
  color: $pink;
  height: 0;
  border-bottom: 5px dotted $pink;
}


@media (min-width: 200px) and (max-width: 991.98px) {
  .van-show {
    flex-direction: column;
  }

  .van-info {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}


@media (min-width: 200px) and (max-width: 1600.98px) {
  .product-card {
    flex-direction: column;

    img {
      height: 200px;
      width: 100%;
      object-fit: cover;
      border-radius: 0px 0px 20px 20px;
    }
  }

  .product-info {
    width: 100%;
  }

  .product-info span {
    display: block;
    margin-top: 20px;
  }
}




.product-show-card {
  background-color: white;
  padding: 25px;
  width: 75%;
  max-width: 1000px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.274);

  img {
    height: 400px;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
  }
}

.product-show-info {
  margin-top: 20px;

  h3 {
    font-family: "Ultra", serif;
  }

  p, label, input {
    font-family: "Nunito", serif;
  }
}

.quantity-selector {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.qty-btn {
  background-color: #f0f0f000;
  border: none;
  padding: 10px 15px;
  font-size: 50px;
  cursor: pointer;
  border-radius: 5px;
}

.qty-btn:hover {
  background-color: #ddd;
}

.quantity-input {
  border: none;
  background: transparent;
  text-align: center;
  font-size: 80px;
  width: 120px;
  outline: none;
  appearance: textfield;
}

/* Hide the default increment/decrement buttons in some browsers */
.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fill;
}
@media (min-width: 200px) and (max-width: 991.98px) {
  .product-show-card {

    img {
      height: 200px;
    }
  }

  .quantity-input {
    font-size: 50px;
  }

  .qty-btn {
    font-size: 30px;
  }
}
